@import '../../partials/variables';

.container {
  width: 100%;
  min-width: 32rem;

  input {
    font-size: 1.8rem;
  }

  .prioritySelectContainer {
    margin-top: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      color: $color-light-blue;
      font-size: 1.5rem;
    }
  }

  button {
    margin-top: 3.2rem;
  }
}
