$color-dark-blue: #0e1f55;
$color-light-blue: #6e7ca9;
$color-bright-blue: #2878fe;
$color-bright-blue-on-hover: #1861db;
$color-white: #f7f8ff;
$color-white-on-hover: #c6c7cf;
$color-light-red: #ff667a;

$border-radius: 0.7rem;

$transition-duration: 0.15s;
