@import '../partials/variables';

.container {
  width: 100vw;
  min-width: 300px;
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2.8rem;

  display: grid;
  grid-template-columns: 3fr 10fr;
  align-items: center;
  justify-content: center;

  aside,
  main {
    height: calc(100vh - 5.6rem);
    max-height: 712px;
    min-height: 520px;
  }

  @media (max-width: 760px) {
    padding: 2rem;

    aside,
    main {
      height: calc(100vh - 4rem);
    }
  }

  @media (max-width: 620px) {
    grid-template-columns: 1fr;

    aside,
    main {
      height: fit-content;
      max-height: 100%;
    }
  }

  @media (max-width: 430px) {
    padding: 0;
  }
}

.container aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 4.8rem 4.8rem 2rem;

  .userInfo {
    width: 100%;
    margin-bottom: 4.2rem;

    position: relative;

    .firstLine {
      margin-bottom: 2.2rem;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .closeSidebarButton {
        padding: 0.6rem;
        border: none;
        border-radius: 10rem;

        display: none;

        color: $color-white;
        cursor: pointer;

        background-color: rgba($color-white-on-hover, 0.1);

        transition: background-color $transition-duration;

        &:hover {
          background-color: rgba($color-white-on-hover, 0.15);
        }

        svg {
          width: 2.8rem;
          height: 2.8rem;
        }

        @media (max-width: 620px) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .userImageContainer {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 0.3rem solid $color-light-blue;

        display: flex;
        justify-content: center;
        align-items: center;

        .userImage {
          width: 4.8rem;
          height: 4.8rem;
          border-radius: 50%;

          background-color: $color-light-blue;
        }
      }
    }

    h1 {
      color: $color-white;
      font-size: 3.2rem;
      font-weight: 700;
    }
  }

  .sidebarMenu {
    width: 100%;

    button {
      display: flex;
      align-items: center;

      border: 0;
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-white;

      cursor: pointer;

      background-color: transparent;
      transition: background-color $transition-duration;

      white-space: nowrap;

      &:hover:not(&:active) {
        color: $color-white-on-hover;

        svg {
          opacity: 0.7;
        }
      }

      svg {
        margin-right: 1.2rem;
        width: 1.8rem;
        min-width: 1.8rem;
        height: 1.8rem;
        min-height: 1.8rem;
        transition: opacity $transition-duration;
      }
    }

    button + button {
      margin-top: 2.2rem;
    }
  }

  @media (max-width: 620px) {
    height: 100vh;
    min-height: initial;
    overflow-y: auto;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba($color-dark-blue, 0.95);
    backdrop-filter: blur(5px);

    z-index: 9998;

    transform: translate(-120%);
    transition: transform $transition-duration;

    &.active {
      padding: 4.8rem;
      transform: translate(0%);
    }
  }
}

.container main {
  padding: 4.8rem;
  border-radius: 0 3.2rem 3.2rem 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  row-gap: 4.2rem;

  background-color: $color-white;

  .topContents {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .titleAndDescription {
      margin-right: 2.4rem;

      .firstLine {
        margin-bottom: 1.6rem;

        display: flex;
        align-items: center;

        .openSidebarButton {
          margin-right: 1.6rem;
          border: none;

          display: none;

          cursor: pointer;
          background-color: transparent;

          transition: opacity $transition-duration;

          &:hover {
            opacity: 0.85;
          }

          svg {
            width: 2.4rem;
            height: 2.4rem;
          }

          @media (max-width: 620px) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        h1 {
          display: inline-block;

          color: $color-dark-blue;
          font-size: 3.6rem;
        }
      }

      p {
        color: $color-light-blue;
        font-size: 1.6rem;
      }
    }

    .preferences {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .sortingCriteria {
        display: flex;
        align-items: center;

        span {
          margin-right: 0.8rem;

          color: $color-light-blue;
          font-size: 1.4rem;
        }
      }

      .sortingOrder {
        margin-top: 1.2rem;
      }
    }

    @media (max-width: 760px) {
      flex-direction: column;
      align-items: flex-end;

      .preferences {
        margin-top: 2.4rem;
      }
    }
  }

  .taskList {
    padding-right: 0.8rem;
    margin-right: -0.8rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    column-gap: 2.4rem;
    row-gap: 1.6rem;

    overflow-y: auto;

    @media (max-width: 960px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 730px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 620px) {
      overflow-y: initial;
    }
  }

  @media (max-width: 620px) {
    border-radius: 3.2rem;
  }

  @media (max-width: 430px) {
    height: 100%;
    border-radius: 0;
    padding: 5.4rem 3.2rem;
  }
}

.loadingContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 3.2rem;
    height: 3.2rem;
    color: $color-light-blue;

    animation: rotate 0.75s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
