* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

#__next {
  min-height: 100vh;
}

body,
input,
select,
textarea,
button {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
}
