@import '../../partials/variables';
@import '../../partials/utils';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.withAlert {
    label {
      color: $color-light-red;
      margin-right: 1.6rem;
    }

    input {
      color: $color-light-red;

      &:focus {
        color: $color-dark-blue;
      }

      &:not(&:focus) {
        border-color: $color-light-red;
      }
    }
  }

  &:focus-within label {
    color: $color-bright-blue-on-hover;
  }

  label {
    margin-bottom: 0.6rem;
    color: $color-light-blue;
    font-weight: 500;

    transition: color $transition-duration;
  }

  input {
    padding: 1rem;
    border: 1px solid toOpacity($color-light-blue, 0.5);
    border-radius: $border-radius;
    outline: none;

    color: $color-dark-blue;

    transition: border-color $transition-duration,
      box-shadow $transition-duration;

    &:focus {
      border-color: $color-bright-blue;
      box-shadow: 0px 0px 0px 1px $color-bright-blue;
    }

    &::placeholder {
      color: $color-light-blue;
      opacity: 0.6;
    }
  }

  .alertContainer {
    margin-top: 0.6rem;
    display: flex;
    align-items: center;

    color: $color-light-red;
    font-weight: 500;
    font-size: 1.4rem;

    svg {
      min-width: 1.4rem;
      min-height: 1.4rem;
      margin-right: 0.6rem;
      margin-bottom: 0.05rem;
    }
  }
}
