@import '../../partials/variables';
@import '../../partials/utils';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.withAlert {
    label {
      color: $color-light-red;
      margin-right: 1.6rem;
    }
  }

  &:focus-within label {
    color: $color-bright-blue-on-hover;
  }

  label {
    margin-bottom: 0.6rem;
    color: $color-light-blue;
    font-weight: 500;

    transition: color $transition-duration;
  }

  input {
    outline: none;

    color: $color-dark-blue;

    transition: border-color $transition-duration,
      box-shadow $transition-duration, border-color $transition-duration;

    &::placeholder {
      color: $color-light-blue;
      opacity: 0.6;
    }
  }

  &.normal {
    input {
      padding: 1rem;
      border-radius: $border-radius;
      border: 1px solid toOpacity($color-light-blue, 0.5);

      &:focus {
        border-color: $color-bright-blue;
        box-shadow: 0px 0px 0px 1px $color-bright-blue;
      }
    }
  }

  &.outline {
    input {
      padding: 1rem 0;
      border: none;
      border-bottom: 2px solid $color-very-light-blue;

      position: relative;

      background-color: transparent;

      &:focus {
        border-bottom-color: rgba($color-bright-blue, 0.8);
      }
    }
  }

  .alertContainer {
    margin-top: 0.6rem;
  }
}
