@import '../../partials/variables';

.container {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin-bottom: 2.55rem;
  gap: 1.1rem;

  font-size: 1.8rem;
  font-weight: 400;
  color: $color-white;

  cursor: pointer;

  background-color: transparent;

  &:hover:not(&:active) {
    color: $color-white-on-hover;
  }
}
